/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.space_between_column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.space_between_row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
body {
  background-color: #0D1F2D;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans';
  font-size: 4rem;
  color: #EEF0F2;
}
p,
li {
  font-family: 'Open Sans';
  font-size: 1.4rem;
  color: #EEF0F2;
  line-height: 1.6;
}
a {
  text-decoration: none;
  font-family: 'Ubuntu Mono';
  color: #B1EDE8;
}
section {
  margin: 3rem auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}
header h1 {
  font-family: 'Ubuntu Mono';
  color: #FF6978;
  animation-duration: 2s;
  animation-name: bounceIn;
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
header nav {
  font-size: 1.4rem;
}
header nav a {
  margin-left: 3rem;
}
@media (max-width: 500px) {
  header nav a {
    margin-bottom: 1.2rem;
  }
}
header nav a:hover {
  color: #FF6978;
}
@media (max-width: 500px) {
  header nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    order: -1;
  }
}
@media (max-width: 500px) {
  header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 1.2rem;
  }
}
.container {
  max-width: 840px;
  margin: 3rem auto;
}
@media (max-width: 500px) {
  .container {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}
.container h2 {
  font-size: 2rem;
}
.container h3 {
  font-size: 1.6rem;
  font-weight: bold;
}
.container .section-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container ul {
  list-style-type: disc;
  padding-left: 2.4em;
  margin-bottom: 1.2rem;
}
.container .work-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.container .work-container .work-entry {
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.container .institute {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 1.2rem;
}
.container .role {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 1.2rem;
}
