/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* --------------------------------------------------*/
/* Variables */
:root {
  --cinderella-pink: #fee8dd;
  --wheat-peach: #f5ceb4;
  --flame-pea: #d05a34;
  --governer-bay-blue: #2d2ea2;
  --tulip-tree-peach: #e69b46;
  --blue: #3c52d1;
  --light-blue: #4a8ffe;
  --lavender: #8f6ebe;
  --text-shadow-headers: 1px 2px 1px var(--light-blue);
}

/* --------------------------------------------------*/
html,
body {
  height: 100%;
}
body {
  background-color: var(--cinderella-pink);
  margin: 2em;
  font-family: "Roboto Mono", "Helvetica Neue", Helvetica;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span {
  font-family: "Open Sans";
  /* font-family: "Roboto Mono", */
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--governer-bay-blue);
}
a {
  text-decoration: none;
  font-family: "Open Sans";
  color: var(--governer-bay-blue);
}
section {
  margin: 3rem auto;
}
.container {
  max-width: 1000px;
  margin: 3rem auto;
}
@media (max-width: 500px) {
  .container {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}
.container header {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}

.container header nav {
  font-size: 2rem;
}
.container header nav a {
  margin-left: 3rem;
  padding: 1px;
  background: linear-gradient(
    to bottom,
    var(--tulip-tree-peach) 20%,
    /* #ff6978 20%, */ var(--light-blue) 80%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 1px;
  transition: background-size 0.6s;
}
@media (max-width: 500px) {
  .container header nav a {
    margin-bottom: 1.2rem;
    font-size: 2rem;
    text-align: center;
    margin-left: 0;
  }
}
.container header nav a:hover {
  color: var(--cinderella-pink);
  background-size: 4px 50px;
}
@media (max-width: 500px) {
  .container header nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    order: -1;
  }
}
@media (max-width: 500px) {
  .container header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 1.2rem;
  }
}

.intro-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 2rem;
}
.intro-container .name-container .first-name,
.intro-container .name-container .last-name {
  display: flex;
  align-items: flex-start;
  align-items: center;
  font-size: 16rem;
  margin-top: 2rem;
  width: 50rem;
}

/* Individual letters */
.intro-container .name-container .first-name > *,
.intro-container .name-container .last-name > * {
  color: var(--tulip-tree-peach);
  text-shadow: 8px 6px 0 var(--governer-bay-blue);
  width: 50rem;
}

.intro-container .name-container .first-name .l:first-of-type {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 40 40" xml:space="preserve" height="12px" width="12px"><g ><circle fill="white" r="10" cx="12" cy="12"/></g></svg>');
  /* color: transparent; */
}

.tagline {
  margin-top: 2rem;
  margin-left: 10rem;
  color: var(--light-blue);
  font-size: 2rem;
  font-family: "Roboto Mono";
  /* text-shadow: 1px 1px 0 var(--light-blue); */
}

.tagline::after {
  content: "";
  display: inline-block;
  background-color: var(--light-blue);
  width: 1.4rem;
  height: 2rem;
  animation: blink 1.2s step-end infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-me-container {
  margin-top: 10rem;
}

.about-me-container p {
  margin-top: 2rem;
  font-size: 1.6rem;
}

.about-me-container h2 {
  font-size: 3.4rem;
  font-family: "Roboto Mono";
  text-shadow: var(--text-shadow-headers);
}

.projects-container {
  margin-top: 8rem;
}

.projects-container h2 {
  font-size: 3.4rem;
  font-family: "Roboto Mono";
  border-bottom: 5px dotted var(--wheat-peach);
  text-shadow: var(--text-shadow-headers);
}

.projects-container .project {
  display: flex;
  padding: 2rem;
  margin: 1rem;
  border-bottom: 2px dotted var(--wheat-peach);
}

.projects-container .project .project-image,
.projects-container .project .project-text {
  width: 49%;
}
.projects-container .project .project-text {
  padding-right: 5rem;
}

.projects-container .project .project-links {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  font-size: 1.6rem;
}

.projects-container .project .project-links a {
  height: 30px;
  width: 80px;
  text-align: center;
  vertical-align: center;
  border: 1px solid var(--tulip-tree-peach);
  /* background-color: var(--tulip-tree-peach); */
  border-radius: 2px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  /* box-shadow: 0 6px 6px -6px var(--tulip-tree-peach); */
  transition-duration: 0.5s;
  transition-property: transform;
}

.projects-container .project .project-links a {
  height: 30px;
  width: 80px;
  text-align: center;
  vertical-align: center;
  border: 1px solid var(--tulip-tree-peach);
  /* background-color: var(--tulip-tree-peach); */
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  /* box-shadow: 0 6px 6px -6px var(--tulip-tree-peach); */
}

.projects-container .project .project-links a:hover {
  box-shadow: 0 0 3px var(--governer-bay-blue);
  border: var(--governer-bay-blue);
  transform: skew(-10deg);
}

.projects-container .project .project-image {
  position: relative;
  overflow: hidden;
  height: 280px;
}

.projects-container .project .project-image img {
  width: 95%;
  backface-visibility: hidden;
  border-radius: 3px;
  transition: transform 0.35s ease;
}

.projects-container .project .project-image:hover img {
  opacity: 0.7;
  transform: translate3d(0, -30px, 0);
}

/* app & code links in middle of image */
.projects-container .project .project-image .project-hover-links {
  font-size: 2rem;
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
}

.projects-container .project .project-image:hover .project-hover-links {
  opacity: 1;
  /* background: rgba(205, 206, 255, 0.1); */
}

.projects-container .project .project-text h3 {
  font-size: 4rem;
  font-family: "Roboto Mono";
  text-shadow: 2px 2px 0 var(--tulip-tree-peach);
}

.projects-container .project .project-text p {
  font-size: 1.8rem;
}

.projects-container .project .project-text .project-tagline {
  font-style: italic;
}

.projects-container .project .project-text .tech-stack {
  margin-top: 2.2rem;
  margin-bottom: 4rem;
  color: var(--governer-bay-blue);
  text-shadow: 0 1px 1px var(--flame-pea);
}
