// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Lily's edits start here

// Variables 
@background-color: @firefly;
@text-color: @white;
@pop-color: @wildwatermelon;

@um: 'Ubuntu Mono';
@os: 'Open Sans';
@margin_center: 3rem auto;
@margin_bottom: 1.2rem;
@firefly: #0D1F2D;
@white: #EEF0F2;
@wildwatermelon : #FF6978;

// Mixins

.center() {
	display: flex;
	justify-content: center;
	align-items: center;
}

.space_between_column {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.space_between_row {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

// General

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html, body {
    height: 100%;
}

body {
	background-color: @background-color;
}

h1,h2,h3,h4,h5,h6 {
	font-family: @os;
	font-size: 4rem;
	color: @text-color;
}

p,li {
	font-family: @os;
	font-size: 1.4rem;
	color: @text-color;
	line-height: 1.6; // not working
}

a {
	text-decoration: none;
	font-family: @um;
	color: #B1EDE8;
}

section {
	margin: @margin_center;
}

// Main resume content

.container {
	max-width: 840px;
	margin: @margin_center;

	@media (max-width: 500px) {
		margin-right: 2rem;
		margin-left: 2rem;
	}

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	
		margin-bottom: @margin_bottom;
	
		h1 {
			font-family: @um;
			color: @pop-color;
			animation-duration: 2s;
			  animation-name: bounceIn;
	
		}
	
		@keyframes bounceIn {
			0% {
			  transform: scale(0.1);
			  opacity: 0;
			}
			60% {
			  transform: scale(1.2);
			  opacity: 1;
			}
			100% {
			  transform: scale(1);
			}
		  }
	
		nav {
			font-size: 1.4rem;
	
			a {
				margin-left: 3rem;
				
				@media (max-width: 500px) {
					margin-bottom: @margin_bottom;
				} 
			}
	
			a:hover {
				color: @pop-color;
			}
	
			@media (max-width: 500px) {
				.space_between_column;
				order: -1;
			}
		}//nav
	
		@media (max-width: 500px) {
			.space_between_column;
			margin-bottom: @margin_bottom;
		}
	}//header

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.6rem;
		font-weight: bold;
	}

	.section-title {
		.center();
	}	

	ul {
		list-style-type: disc;
		padding-left: 2.4em;
		margin-bottom: @margin_bottom;
	}

	.work-container {
		.space_between_column;
	
		.work-entry {
			margin: @margin_center;
			.space_between_column;
		}

	}

	.institute {
		.space_between_row;
		margin-bottom: @margin_bottom;
	}

	.role {
		.space_between_row;
		margin-bottom: @margin_bottom;
	}
}



